#toDo-form {
  margin-left: 10px;
}
#toDo-form input {
  width: 242px;
}

#toDo-list {
  width: 620px;
  height: 105px;
  list-style-type: "👍 ";
  overflow: auto;
}

.button-style {
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(1, 1, 1, 0);
}

#toDo-list::-webkit-scrollbar,
#done-list::-webkit-scrollbar {
  width: 8px;
}

#toDo-list::-webkit-scrollbar-thumb,
#done-list::-webkit-scrollbar-thumb {
  background-color: rgba(1, 1, 1, 0.7);
  border-radius: 4px;
}

#done-list {
  width: 275px;
  height: 100px;
  list-style-type: "💜 ";
  overflow: auto;
  margin: 10px 0;
}

#done {
  position: fixed;
  top: 200px;
  right: 0;
  width: 320px;
  height: 150px;
  background-color: var(--bgcolor);
}

#done > span {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}
