@import "reset.css";
@import "variable.css";
@import "login.css";
@import "widget.css";
@import "list.css";

body{
  font-size: 18px;
  color:white;
}

#main{
  position:fixed;
  top:10px;
  left: 10px;
  width: 670px;
  height: 300px;  
  font-weight: 600;
  background-color: var(--bgcolor);
}

.hidden {
  display: none !important;
}

.bgImage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#quote {
  position: fixed;
  bottom: 10px;
  padding: 5px 5px;
  background-color: var(--bgcolor);
}


