#login-form , #greeting{
    margin-top:16px;
    margin-left:10px;
    margin-bottom: 30px; 
    width:400px;
    height: 20px;
    display: inline-block;
  }
  
  #login-form input[type="text"] {
    width: 242px;
  }

  #login-form input[type="submit"]{
    width: 55px;
  }
  
  #login-username {
    font-weight: 500;
    color: antiquewhite;
    text-shadow: 1px 1px 1px green;
  }