@import "reset.css";
@import "variable.css";
@import "login.css";
@import "widget.css";
@import "list.css";

#main{
  position:fixed;
  top:10px;
  left: 10px;
  font-weight: 600;
  color: white;
  width: 500px;
  height: 500px;
  background-color: var(--bgcolor);
}

.hidden {
  display: none;
}

.bgImage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#quote {
  position: fixed;
  bottom: 10px;
  display: inline-block;
  padding: 0px 5px;
  background-color: var(--bgcolor);
}


