.hidden {
  display: none;
}

.bgImage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#main {
  width: 450px;
  color: white;
  background-color: rgba(1, 1, 1, 0.4);
  padding: 10px 10px;
}

#login-form {
  margin-bottom: 17px;
}

#login-form input[type="text"] {
  width: 200px;
}

#greeting {
  font-weight: 600;
  margin-bottom: 19px;
}

#login-username {
  font-weight: 500;
  color: antiquewhite;
  text-shadow: 1px 1px 1px green;
}

#time {
  font-weight: 600;
  width: 150px;
  display: inline-block;
}
#time h2 {
  margin-top: 0;
}

#toDo-form input {
  width: 200px;
}

#quote {
  position: absolute;
  bottom: 10px;
  display: inline-block;
  font-weight: 600;
  padding: 0px 5px;
  background-color: rgba(1, 1, 1, 0.4);
}

#toDo-list {
  list-style-type: "👍 ";
  font-weight: 600;
}

.list-style {
}

.button-style {
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(1, 1, 1, 0);
}

.onMouseEnter {
  color: white;
  text-decoration: underline;
}

#weather {
  position: absolute;
  top: 52px;
  left: 140px;
  display: flex;
  align-items: center;
  width: max-content;
}

.weather-border {
  border: 0.7px solid white;
  border-radius: 10px;
}

#weather span {
  margin-left: 10px;
}

#weather div {
  display: flex;
  align-items: center;
}
