@keyframes BallRolling {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(230px);
  }
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.welcome-header__title {
  mix-blend-mode: difference;
  margin-bottom: 40px;
  font-size: 25px;
  color: pink;
  z-index: 1;
}

.welcome-header__ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: -12.5px;
  margin-left: -230px;
  z-index: -1;
  animation: BallRolling 3s alternate infinite;
}

.welcome-header__text {
  opacity: 0.6;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form input {
  width: 400px;
  padding: 10px 10px 5px 10px;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:not([type="submit"]):focus {
  background-color: var(--favorite-color);
  transition: background-color 0.5s ease-in-out;
}

#login-form input[type="submit"] {
  background-color: #fde9f6;
  cursor: pointer;
  border: none;
}
