.nav {
  background-color: rgb(239, 239, 239);
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid lightgray;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: rgb(57, 55, 55);
  position: relative;
}

.nav__msg_noti {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.nav__ellipsis_noti {
  position: absolute;
  left: 30px;
}
