.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 26px;
  padding: var(--horizontal-space);
  background-color: inherit; /* if no bgcolor, it is transparen so non-fixed contents are shown */
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header__icons-msg {
  position: relative;
}

.screen-header__icons-msg-add {
  position: absolute;
  bottom: 12px;
  font-weight: 500;
}
