.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__name {
  font-weight: 500;
  font-size: 22px;
}

.user-component__msg {
  margin-top: 5px;
  color: rgb(0, 0, 0, 0.3);
}
